services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.8
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: ${ZOOKEEPER_PORT}
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      eshop-network:

  kafka:
    image: confluentinc/cp-kafka:7.5.8
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: ${ZOOKEEPER_HOST}:${ZOOKEEPER_PORT}
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://${KAFKA_HOST}:${KAFKA_PORT}
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      eshop-network:

  eureka-server:
    build:
      context: .
      dockerfile: eureka-server/Dockerfile
    container_name: ${EUREKA_SERVER_CONTAINER_NAME}
    networks:
      eshop-network:
        aliases:
          - ${EUREKA_SERVER_HOST}
    ports:
      - "${EUREKA_SERVER_PORT:-8761}:8761"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:${EUREKA_SERVER_PORT}/actuator/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5


  postgres-auth:
    image: postgres:16
    container_name: ${POSTGRES_AUTH_CONTAINER_NAME}
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_AUTH_DB}
      POSTGRES_USER: ${POSTGRES_AUTH_USER}
      POSTGRES_PASSWORD: ${POSTGRES_AUTH_PASSWORD}
    volumes:
      - postgres-auth-data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_AUTH_PORT:-5433}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_AUTH_USER} -d ${POSTGRES_AUTH_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      eshop-network:
        aliases:
          - ${POSTGRES_AUTH_HOST}

  auth-service:
    build:
      context: .
      dockerfile: auth-service/Dockerfile
    container_name: auth-service
    environment:
      EUREKA_SERVER_URL: "http://${EUREKA_SERVER_HOST}:${EUREKA_SERVER_PORT}/eureka"
      SPRING_DATASOURCE_URL: "jdbc:postgresql://${POSTGRES_AUTH_HOST}:5432/${POSTGRES_AUTH_DB}"
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_AUTH_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_AUTH_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      APPLICATION_SECURITY_JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      APPLICATION_SECURITY_JWT_EXPIRATION: ${JWT_EXPIRATION}
      AUTH_APP_NAME: ${AUTH_APP_NAME}
    networks:
      - eshop-network
    depends_on:
      postgres-auth:
        condition: service_healthy


  postgres-product:
    image: postgres:16
    container_name: ${POSTGRES_PRODUCT_CONTAINER_NAME}
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_PRODUCT_DB}
      POSTGRES_USER: ${POSTGRES_PRODUCT_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PRODUCT_PASSWORD}
    volumes:
      - postgres-product-data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PRODUCT_PORT:-5434}:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_PRODUCT_USER} -d ${POSTGRES_PRODUCT_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      eshop-network:
        aliases:
          - ${POSTGRES_PRODUCT_HOST}

  product-service:
    build:
      context: .
      dockerfile: product-service/Dockerfile
    container_name: product-service
    environment:
      EUREKA_SERVER_URL: "http://${EUREKA_SERVER_HOST}:${EUREKA_SERVER_PORT}/eureka"
      SPRING_DATASOURCE_URL: "jdbc:postgresql://${POSTGRES_PRODUCT_HOST}:5432/${POSTGRES_PRODUCT_DB}"
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_PRODUCT_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PRODUCT_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      PRODUCT_APP_NAME: ${PRODUCT_APP_NAME}
    volumes:
      - product-images:/app/uploads
    networks:
      - eshop-network
    depends_on:
      postgres-product:
        condition: service_healthy


  postgres-cart:
    image: postgres:16
    container_name: ${POSTGRES_CART_CONTAINER_NAME}
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_CART_DB}
      POSTGRES_USER: ${POSTGRES_CART_USER}
      POSTGRES_PASSWORD: ${POSTGRES_CART_PASSWORD}
    volumes:
      - postgres-cart-data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_CART_PORT:-5435}:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_CART_USER} -d ${POSTGRES_CART_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      eshop-network:
        aliases:
          - ${POSTGRES_CART_HOST}

  cart-service:
    build:
      context: .
      dockerfile: cart-service/Dockerfile
    container_name: cart-service
    environment:
      EUREKA_SERVER_URL: "http://${EUREKA_SERVER_HOST}:${EUREKA_SERVER_PORT}/eureka"
      SPRING_DATASOURCE_URL: "jdbc:postgresql://${POSTGRES_CART_HOST}:5432/${POSTGRES_CART_DB}"
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_CART_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_CART_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      CART_APP_NAME: ${CART_APP_NAME}
    networks:
      - eshop-network
    depends_on:
      postgres-cart:
        condition: service_healthy

  postgres-order:
    image: postgres:16
    container_name: ${POSTGRES_ORDER_CONTAINER_NAME}
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_ORDER_DB}
      POSTGRES_USER: ${POSTGRES_ORDER_USER}
      POSTGRES_PASSWORD: ${POSTGRES_ORDER_PASSWORD}
    volumes:
      - postgres-order-data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_ORDER_PORT:-5436}:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_ORDER_USER} -d ${POSTGRES_ORDER_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      eshop-network:
        aliases:
          - ${POSTGRES_ORDER_HOST}

  order-service:
    build:
      context: .
      dockerfile: order-service/Dockerfile
    container_name: order-service
    environment:
      EUREKA_SERVER_URL: "http://${EUREKA_SERVER_HOST}:${EUREKA_SERVER_PORT}/eureka"
      SPRING_DATASOURCE_URL: "jdbc:postgresql://${POSTGRES_ORDER_HOST}:5432/${POSTGRES_ORDER_DB}"
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_ORDER_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_ORDER_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      ORDER_APP_NAME: ${ORDER_APP_NAME}
      KAFKA_HOST: ${KAFKA_HOST}
      KAFKA_PORT: ${KAFKA_PORT}
    networks:
      - eshop-network
    depends_on:
      postgres-order:
        condition: service_healthy

  api-gateway:
    build:
      context: .
      dockerfile: api-gateway/Dockerfile
    container_name: ${API_GATEWAY_CONTAINER_NAME}
    environment:
      EUREKA_SERVER_URL: "http://${EUREKA_SERVER_HOST}:${EUREKA_SERVER_PORT}/eureka"
      API_GATEWAY_HOST: ${API_GATEWAY_HOST}
      AUTH_APP_NAME: ${AUTH_APP_NAME}
      PRODUCT_APP_NAME: ${PRODUCT_APP_NAME}
      CART_APP_NAME: ${CART_APP_NAME}
      ORDER_APP_NAME: ${ORDER_APP_NAME}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
    ports:
      - "${API_GATEWAY_PORT:-8080}:8080"
    networks:
      - eshop-network
    depends_on:
      eureka-server:
        condition: service_healthy

  notification-service:
    build:
      context: .
      dockerfile: notification-service/Dockerfile
    container_name: ${NOTIFICATION_SERVICE_CONTAINER_NAME}
    environment:
      NOTIFICATION_SERVICE_APP_NAME: ${NOTIFICATION_SERVICE_APP_NAME}
      KAFKA_SERVER: ${KAFKA_HOST}:${KAFKA_PORT}
    networks:
      - eshop-network



volumes:
  postgres-auth-data: {}
  postgres-product-data: {}
  postgres-cart-data: {}
  postgres-order-data: {}
  product-images: {}

networks:
  eshop-network:
    driver: bridge